/*--------------------------------------------------------------
# Main Content Layout Classes
--------------------------------------------------------------*/

// Header
.menu-menu-1-container {
	text-transform: uppercase;
}

// Main Content
.site-content {
	padding: 150px 0 0 0;
}

.home {

	h1 {
		color: $blackish;
		font-family: $rale-font;
		font-weight: 700;
		line-height: 1em;
		text-align: center;
		text-transform: uppercase;
	}
}

.page-banner {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
}

.page-logo {
	position: relative;
}

.logo-container {
	background-color: $white-color;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 80%;
	border-radius: 100%;
	height: 200px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: -100px;
	width: 200px;
}

.main-content {

	ul {
		margin: 0 0 1em 0;
	}	
}

// General Pages
.page-template-general,
.page-template-contact-template {

	.page-banner {
		height: 250px;
		padding: 50px 0 0 0;
	}

	h1 {
		color: $white-color;
		display: inline-block;
		line-height: 1em;
		margin: 0;
		padding: 30px;
		text-transform: uppercase;

	}
}

.secondary {

	.main-content {
		padding: 30px 0;

		.constrain {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
		}
	}

	.sidebar-contact {
		background-color: $lightest;
		margin: 0 0 20px 0;
		padding: 10px;

		h2 {
			text-transform: uppercase;
		}

		p {
			margin: 0;
		}

		input {
			min-height: 40px;
		}

		input, textarea {
			margin: 0 0 20px 0;
			padding: 3px 10px;
			width: 100%;
		}

		input[type=submit] {
			color: $white-color;
			margin: 0;
		}
	}

	ul li {
		margin: 0 0 5px 0;
		padding: 0 0 0 15px;
		position: relative;
	
		&:before {
			content: '\2022';
			display: block;
			left: 0;
			position: absolute;
			top: 0;
		}
	}
}

// Contact Page
.main-content-form label {
	display: inline-block;
	font-size: .75em;
}

.main-content-form input,
.main-content-form textarea {
	background-color: #f6f6f6;
	border: 1px solid #e1e1e1;
	margin: 0 0 10px 0;
	padding: 3px 5px !important;
	width: 100%;
}

.main-content-form input[type=submit] {
	color: $white-color !important;
	padding: 12px !important;
}

.contact-sidebar {
	margin: 0 0 20px 0;
}

.sidebar-comp-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
	flex-direction: column;

	& > div {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	
	.top-info {
		margin: 0 0 10px 0;
	}
	
	.title {
		font-weight: 700;
	}
}

.gmap {
    margin: 0 0 -8px 0;
}

// 404 Page
.error-404 {
	text-align: center;

	.page-title {
		color: $blackish;
		font-family: $rale-font;
		line-height: 1.15em;
		text-transform: uppercase;
	}

	.page-content {
		padding: 30px 0;
	}

	p {
		font-size: 18px;
	}

	.error-logo {
		// max-width: 480px;
		opacity: 0.5;
		width: auto;
	}
}