@media only screen and ( min-width: 480px ) {

	// 404 Page
	.error-404 {

		.error-logo {
			max-width: 460px;
		}
	}

	// General Pages
	.page-template-general,
	.page-template-contact-template {
	
		.page-banner {
			padding: 65px 0 0 0;
		}
	}
}

@media only screen and ( min-width: 568px ) {
	
	// Page Content
	.page-banner {
		height: 240px
	}

	.logo-container {
		height: 230px;
		width: 230px;
	}

	.company-divisions {

		.constrain {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	a.company-division {
		width: 48.5%;

		&:last-of-type {
			margin: 0 0 15px 0;
		}

		&:hover {
			background-color: $darkest !important;
		}
	}

	// General Pages
	.page-template-general,
	.page-template-contact-template {
		
		.page-banner {
			height: 300px;
			padding: 100px 0 0 0;
		}

		h1 {
			font-size: 34px;
		}
	}
}

@media only screen and ( min-width: 768px ) {

	// Page Content
	.page-banner {
		height: 275px;
	}

	
	.logo-container {
		height: 275px;
		top: -140px;
		width: 275px;
	}

	// General Pages
	.page-template-general,
	.page-template-contact-template {
		
		.page-banner {
			height: 325px;
			padding: 115px 0 0 0;
		}

		h1 {
			font-size: 42px;
			max-width: 565px;
		}
	}

	// Contact Page
	.input-wrapper {
		
		&.col-left {
			float: left;
		}

		&.col-right {
			float: right;
		}
	}

	.input-half {
		width: 49.5%;
	}
	
	// Footer
	.main-footer {

		> .flexxed {
			flex-direction: row;
			justify-content: space-between;
		}

		.footer-block {
			width: 50%;
		}
	}
}

@media only screen and ( min-width: 960px ) {

	.home {

		h1 {
			font-size: 36px;
		}
	}

	// General Pages
	.secondary {
		
		.main-content {
			
			.constrain {
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
					-ms-flex-direction: row;
						flex-direction: row;
				-webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
			}

			.main-block {
				width: 64%;
			}

			.general-sidebar {
				width: 31%;
			}
		}
	}
}
 
@media only screen and ( min-width: 1024px ) {
	
	// Header
	.mobile-nav {
		display: none;
	}

	.mobile-nav-btn {
		display: none;
	}

	.main-header {
		color: $lt-gray;

		a {
			color: $lt-gray;
		}

		.main-navigation {
			-webkit-box-align: end;
			-ms-flex-align: end;
			align-items: flex-end;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: end;
			-ms-flex-pack: end;
	        justify-content: flex-end;
		}

		.social-media-links {
			-webkit-box-align: end;
			-ms-flex-align: end;
			align-items: flex-end;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: space-evenly;
			-ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
		}

		.site-motto {
			display: none;
		}
	}

	.main-navigation {

		li {
			margin: 0 20px 0 0;
		}
	}

	// Page Content
	.main-content {
		padding-bottom: 20px;
	}

	.site-content {
		padding: 120px 0 0 0;
	}

	.page-banner {
		height: 325px;
	}

	.logo-container {
		height: 325px;
		top: -160px;
		width: 325px;
	}

	.company-divisions {
		padding: 45px 0 30px 0;
	}

	a.company-division {
	    width: 49.25%;
	}

	.page-template-general,
	.page-template-contact-template {
		
		h1 {
			max-width: 600px;
		}
	}

	// Contact Page
	.contact-sidebar {
		max-width: 327px;
		padding: 20px 0 0 0;
	}

	// Footer
	.main-footer {

		.col1 {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}

		.col2 {
			-ms-flex-line-pack: end;
			    align-content: flex-end;
		    -webkit-box-align: end;
		    -ms-flex-align: end;
		    align-items: flex-end;
		    color: $lt-gray;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		    -webkit-box-orient: horizontal;
		    -webkit-box-direction: normal;
		    -ms-flex-direction: row;
		            flex-direction: row;

			a {
				color: $lt-gray;
			}

            .menu-menu-1-container {
            	margin: 0;
            }

         	.social-media-links {
         		margin: 0;
         	}   
		}

		.menu-menu-1-container {
			width: 60%;

			ul {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				        justify-content: space-between;
				margin: 0 30px 0 0;
			}
		}

		.social-media-links {
			margin: 0;
		}

		.legal-box {
			display: inline-block;
			padding: 0 20px 0 0;
			position: relative;

			&:last-of-type {
				padding: 0;

				&:after {
					content: none;
				}
			}

			&:after {
				content: '|';
				position: absolute;
				right: 7px;
				top: 0;
			}
		}

	}

	// General Pages
	.page-template-general,
	.page-template-contact-template {
		
		.page-banner {
			height: 350px;
			padding: 125px 0 0 0;
		}

		h1 {
			font-size: 42px;
		}
	}

	// Footer
	.footer-address {
		text-align: left;

		.address {
			display: inline-block;
			padding: 0 5px 0 0;
		}
	}

	.footer-contact {
		height: 30px;

		.contact {
			display: inline-block;
			padding: 0 15px 0 0;
			position: relative;

			&:after {
				content: '|';
				position: absolute;
				right: 3px;
				top: 0;
			}

			&:last-of-type:after {
				content: '';
			}
		}
	}
}